* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL BODY========================================================*/
body {
  width: 100vw;
  height: 100vh;
  background-color: #dadbd4;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Hind Siliguri', sans-serif;
}

i {
  cursor: pointer;
}

img {
  cursor: pointer;
}

/* per la riga verde in background */
.body_bg {
  height: 150px;
  width: 100%;
  background-color: #009688;
  z-index: -1;
}

/* / FINE GENERAL BODY============================================ */

/* CONTAINER PRINCIPALE================================================*/
.container {
  position: absolute;
  top: 30px;
  min-width: 950px;
  width: 80%;
  height: 700px;
  margin: auto;
  background-color: #fafafa;
  display: flex;
}

/* container sinistro =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.container_left {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
}

/* header sinistro------------------------------------------ */
.header_left {
  width: 100%;
  min-height: 80px;
  background-color: #eaeaea;
  display: flex;
}


.header_left .box_user {
  height: 100%;
  flex-grow: 2;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.header_left .box_user img {
  height: 60px;
  border-radius: 50px;
  margin-left: 10px;
}

.header_left .box_user .name_user {
  margin-left: 15px;
}


.header_left .action_user {
  height: 100%;
  width: 30%;
}

.header_left .action_user ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_left .action_user ul li {
  flex-basis: 100% / 3;
  color: #b1b1b1;
  list-style: none;
  font-size: 22px;
}




/* notifiche sinistro ------------------------------------------------ */
.notification_left {
  width: 100%;
  height: 80px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.notification_icon {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.notification_icon i {
  font-size: 25px;
  color: #8edafc;
}

.notification_action a {
  color: #4f7485;
}


/* ricerca sinistro ------------------------------------------------------- */
.search_left {
  width: calc( 100% - 14px );
  height: 50px;
  background-color: white;
  margin: 7px;
  border: 0.1px solid rgba(222, 222, 222, 0.75);
  display: flex;
  align-items: center;
}

.search_left i {
  font-size: 20px;
  color: #b1b1b1;
  margin-left: 15px;
  margin-right: 15px;

}

.search_left input {
  flex-grow: 2;
  border: white;
  height: 30px;
}

.search_left input:focus {
  outline-width: 0;
  /* padding-left: 10px; */
}

::placeholder {
  color: #c3c3c3;
  opacity: 1;
}



/* cronologia chat sinistro ----------------------------------------------- */

.chat_chronology {
  flex-grow: 2;
  width: 100%;
  /* background-color: orange; */
  overflow-y: scroll;
}

.chat_chronology .active {
  background-color: #ebebeb;
}

.chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.1px solid rgb(222, 222, 222);
  margin: 3px;
}

.chat:hover {
  background-color:  #f2f2f2;
}

.chat img {
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

.content {
  flex-grow: 2;
}

.last_message {
  color: #4f7485;
}

.date {
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #c1c1c1;
}

.date i {
  color: #c1c1c1;
  font-size: 20px;
}

/* container destro =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.container_right {
  /* background-color: red; */
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}


/* header_right------------------------------------ */
.header_right {
  width: 100%;
  min-height: 80px;
  background-color: #eaeaea;
  display: flex;
  border-left: 0.1px solid rgb(222, 222, 222);
}

.header_right .box_contact {
  height: 100%;
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.header_right .box_contact img {
  height: 60px;
  border-radius: 50px;
  margin-left: 10px;
}

.header_right .box_contact .name_contact {
  margin-left: 15px;
}

.header_right .box_contact .name_contact p {
  font-size: 13px;
  color: #4f7485;
}


.header_right .action_user {
  height: 100%;
  width: 20%;
}

.header_right .action_user ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_right .action_user ul li {
  flex-basis: 100% / 3;
  color: #b1b1b1;
  list-style: none;
  font-size: 22px;
}


/* right chat box---------------------------------------------- */
.chat_box {
  width: 100%;
  flex-grow: 2;
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column; */
  font-weight:  lighter;
}

.text_line_sent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.text_line_received {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px;
}

.message {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message .timing {
  display: flex;
  justify-content: flex-end;
  color: #b1b1b1;
}

.sent {
  background-color: #dcf8c6;
  border-radius: 10px;
  max-width: 75%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 10px;
  position: relative;
}

div.first_s::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #dcf8c6;
  border-right: 15px solid transparent;
  position: absolute;
  top: 0;
  right: -7px;
}

.received {
  background-color: #ffffff;
  display: flex;
  max-width: 75%;
  justify-content: flex-start;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
}

div.first_r::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid #ffffff;
  border-left: 15px solid transparent;
  position: absolute;
  top: 0;
  left: -7px;
}

/* right side input--------------------------------------- */
.input_box {
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input_box .emoticon {
  width: 8%;
  display: flex;
  justify-content: center;
}

.input_box .vocal {
  width: 8%;
  display: flex;
  justify-content: center;
}

.input_box i {
  font-size: 22px;
  color: #b1b1b1;
}

.input_box .input_text {

  flex-basis: 84%;

}

.input_box .input_text input {
  width: 100%;
  height: 30px;
  border: 0.1px solid rgb(222, 222, 222);
  border-radius: 20px;
  padding-left: 10px;
}

/* per togliere la linea quando siamo in focus sull'input */
.input_box .input_text input:focus {
  outline-width: 0;
  /* padding-left: 10px; */
}

/* FONTAWESOME */

/* refresh */
/* <i class="fas fa-sync-alt"></i> */


/* message */
/* <i class="fas fa-comment-alt"></i> */
