* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL BODY========================================================*/
body {
  width: 100vw;
  height: 100vh;
  background-color: #dadbd4;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Hind Siliguri', sans-serif;
}

/* per la riga verde in background */
.body_bg {
  height: 150px;
  width: 100%;
  background-color: #009688;
  z-index: -1;
}

/* / FINE GENERAL BODY============================================ */

/* CONTAINER PRINCIPALE================================================*/
.container {
  position: absolute;
  top: 30px;
  min-width: 950px;
  width: 80%;
  height: 700px;
  margin: auto;
  background-color: #fafafa;
  display: flex;
}

/* container sinistro =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.container_left {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
}

/* header sinistro------------------------------------------ */
.header_left {
  width: 100%;
  height: 80px;
  background-color: #eaeaea;
  display: flex;
}


.box_user {
  height: 100%;
  flex-grow: 2;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}

.box_user img {
  height: 60px;
  border-radius: 50px;
  margin-left: 10px;
}

.box_user .name_user {
  margin-left: 15px;
}


.action_user {
  height: 100%;
  width: 30%;
}

.action_user ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action_user ul li {
  flex-basis: 100% / 3;
  color: #b1b1b1;
  list-style: none;
  font-size: 22px;
}




/* notifiche sinistro ------------------------------------------------ */
.notification_left {
  width: 100%;
  height: 80px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.notification_icon {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.notification_icon i {
  font-size: 25px;
  color: #8edafc;
}

.notification_action a {
  color: #4f7485;
}


/* ricerca sinistro ------------------------------------------------------- */
.search_left {
  width: 100% - 14px;
  height: 50px;
  background-color: white;
  margin: 7px;
  border: 0.1px solid rgba(#dedede, 0.75);
  display: flex;
  align-items: center;
}

.search_left i {
  font-size: 20px;
  color: #b1b1b1;
  margin-left: 15px;
  margin-right: 15px;

}

.search_left input {
  flex-grow: 2;
  border: white;
  height: 30px;
}

::placeholder {
  color: #c3c3c3;
  opacity: 1;
}



/* cronologia chat sinistro ----------------------------------------------- */

.chat_chronology {
  flex-grow: 2;
  width: 100%;
  /* background-color: orange; */
  overflow-y: scroll;
}

.chat {
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid rgb(222, 222, 222);
  margin: 3px;
}

.chat img {
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

.last_message {
  color: #4f7485;

}

/* container destro =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.container_right {
  /* background-color: red; */
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.header_right {
  width: 100%;
  height: 80px;
  background-color: greenyellow;
}

.chat_box {
  width: 100%;
  flex-grow: 2;
  background-color: red;
}

.input_box {
  width: 100%;
  height: 80px;
  background-color: greenyellow;
}






/* FONTAWESOME */

/* refresh */
/* <i class="fas fa-sync-alt"></i> */


/* message */
/* <i class="fas fa-comment-alt"></i> */
